@import "./reset.css";

#root {
	min-height: 100%;
	height: 100%;
}

a {
	outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* letter-spacing: -0.05rem; */
	font-weight: 700 !important;
}

html,
body {
	font-size: 10px;
}

h1 {
	margin-bottom: 2rem;
	font-family: "Oswald";
	font-size: 3.072961673510399em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h2 {
	margin-bottom: 2rem;
	font-family: "Oswald";
	font-size: 2.6955804153599994em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h3 {
	margin-bottom: 2rem;
	font-family: "Oswald";
	font-size: 2.3645442239999994em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h4 {
	margin-bottom: 2rem;
	font-family: "Oswald";
	font-size: 2.0741615999999996em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h5 {
	margin-bottom: 2rem;
	font-family: "Oswald";
	font-size: 1.8194399999999997em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

h6 {
	margin-bottom: 2rem;
	font-family: "Oswald";
	font-size: 1.5959999999999999em;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0em;
}

p {
	margin-bottom: 2rem;
	font-family: "Open Sans";
	font-size: 1.4em;
	line-height: 2rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}
